<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Trang Chủ | ALOHCMUTE</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{../../../css/admin/edituser.css}" rel="stylesheet">
    <link th:href="@{../../../css/style.css}" rel="stylesheet">
    <link th:href="@{../../../css/footer.css}" rel="stylesheet">
</head>

<body>
    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <div th:insert="~{common/admin/template_admin.html::header}"></div>
    </div>
    <div th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <div th:insert="~{common/user/template_user.html::header}"></div>
    </div>
    <div class="container1">
        <div class="content">
            <div class="post">
                <div sec:authorize="isAuthenticated()">
                    <div class="user-info-card" sec:authorize="isAuthenticated()">
                        <img th:src="@{/images/avatar.jpg}" class="img" alt="">
                        <h2 id="userFullName"></h2>
                        <p>Email: <span id="userName"></span></p>
                        <p>Roles: <span id="userRoles"></span></p>
                        <p>User ID: <span id="userID"></span></p>
                    </div>
                </div>
                
                <div id="postContainer"></div>
                <div id="UserAccContainer"></div>
            </div>
        </div>
    </div>
    <div th:insert="~{common/user/template_user.html::footer}"></div>

    <script>
        loadUserProfile();
        loadUserInfo();
        loadUserAccInfo();
        function loadUserInfo() {
            var userId = getUserIdFromUrl();
                $.ajax({
                url: 'http://localhost:1999/api/users/' + userId,
                type: 'GET',
                success: function(user) {
                    $('#userAvatar').attr('src', user.avatarUrl || '/images/default-avatar.jpg');
                    $('#userFullName').text(user.firstName);
                    $('#userName').text(user.username);
                    $('#userRoles').text(user.isAdmin);
                    $('#userID').text(user.userId);
                },
                error: function(error) {
                    console.error('Error fetching user information:', error);
                }
            });
        }
        function loadUserAccInfo() {
            var userId = getUserIdFromUrl();
                $.ajax({
                url: 'http://localhost:1999/api/users/' + userId,
                type: 'GET',
                success: function(user) {
                    displayUserAccountInfo(user);
                },
                error: function(error) {
                    console.error('Error fetching user information:', error);
                }
            });
        }
        function displayUserAccountInfo(user) {
            $('#UserAccContainer').empty();
            var formattedCreatedAt = new Date(user.createdAt).toLocaleString();
            var userAccHtml = '<div class="user-account-info">' +
                '<h2>Thông Tin Tài Khoản</h2>' +
                '<br>' +
                '<p>User ID: <input type="text" id="inputUserId" value="' + user.userId + '" readonly></p>' +
                '<p>Username: <input type="text" id="inputUsername" value="' + user.username + '"></p>' +
                '<p>Email: <input type="text" id="inputEmail" value="' + user.email + '"></p>' +
                '<p>Role: <select id="inputRole">' +
                    '<option value="ROLE_USER" ' + (user.isAdmin === 'ROLE_USER' ? 'selected' : '') + '>User</option>' +
                    '<option value="ROLE_ADMIN" ' + (user.isAdmin === 'ROLE_ADMIN' ? 'selected' : '') + '>Admin</option>' +
                    '</select></p>' +
                '<p>Created At: <input type="text" id="inputCreatedAt" value="' + formattedCreatedAt + '" readonly></p>' +
                '<button onclick="updateUserAccount()">Cập Nhật</button>' +
                '<button onclick="deleteUserAccount()">Xóa Tài Khoản</button>' +
                '</div>';
            $('#UserAccContainer').append(userAccHtml);
        }
        function deleteUserAccount() {
            var userId = $('#inputUserId').val();

            if (confirm('Bạn có chắc chắn muốn xóa tài khoản này ?')) {
                $.ajax({
                    url: 'http://localhost:1999/api/users/' + userId,
                    type: 'DELETE',
                    success: function (data) {
                        alert('Xóa Thành Công !');
                        window.location.href = '/admin/users';
                    },
                    error: function () {
                        alert('Failed to delete user account.');
                    }
                });
            }
        }
        function updateUserAccount() {
            var userId = $('#inputUserId').val();
            var updatedUser = {
                'username': $('#inputUsername').val(),
                'email': $('#inputEmail').val(),
                'isAdmin': $('#inputRole').val()
            };
        
            $.ajax({
                url: 'http://localhost:1999/api/users/' + userId,
                type: 'PUT',
                data: JSON.stringify(updatedUser),
                contentType: 'application/json',
                success: function (data) {
                    alert('User account updated successfully.');
                },
                error: function () {
                    alert('Failed to update user account.');
                }
            });
        }
        
        function loadUserProfile() {
            var userId = getUserIdFromUrl();
            if (!userId) {
                console.error('User ID not found in the URL.');
                return;
            }
            $.ajax({
                url: 'http://localhost:1999/api/profile/' + userId,
                type: 'GET',
                success: function (data) {
                    displayUserProfile(data);
                },
                error: function () {
                    handleUserProfileNotFound();
                }
            });
        }
        function getUserIdFromUrl() {
            var matches = window.location.pathname.match(/\/admin\/users\/edit\/(\d+)/);
            return matches ? matches[1] : null;
        }
        
        function handleUserProfileNotFound() {
            displayUserProfile(null);
        }
        function displayUserProfile(profile) {
            $('#postContainer').empty();
        
            if (profile != null) {
                var userProfileHtml = '<div class="user-profile">' +
                    '<h2>Thông Tin Tài Khoản</h2>' +
                    '<br>' +
                    '<p>User ID: <input type="text" id="inputUserId" value="' + profile.userId + '" readonly></p>' +
                    '<p>First Name: <input type="text" id="inputFirstName" value="' + profile.firstName + '"></p>' +
                    '<p>Last Name: <input type="text" id="inputLastName" value="' + profile.lastName + '"></p>' +
                    '<p>Date of Birth: <input type="date" id="inputDateOfBirth" value="' + profile.dateOfBirth + '"></p>' +
                    '<p>Gender: <select id="inputGender">' +
                    '<option value="MALE" ' + (profile.gender === 'MALE' ? 'selected' : '') + '>Male</option>' +
                    '<option value="FEMALE" ' + (profile.gender === 'FEMALE' ? 'selected' : '') + '>Female</option>' +
                    '<option value="OTHER" ' + (profile.gender === 'OTHER' ? 'selected' : '') + '>Other</option>' +
                    '</select></p>' +
                    '<p>Bio: <textarea id="inputBio">' + profile.bio + '</textarea></p>' +
                    '<button onclick="updateUserProfile()">Cập Nhật</button>' +
                    '</div>';
        
                $('#postContainer').append(userProfileHtml);
        
            } else {
                var insertUserProfileHtml = '<div class="user-profile">' +
                    '<h2>Thông Tin Tài Khoản</h2>' +
                    '<br>' +
                    '<p>User ID: <input type="text" id="inputUserId" readonly></p>' +
                    '<p>First Name: <input type="text" id="inputFirstName"></p>' +
                    '<p>Last Name: <input type="text" id="inputLastName"></p>' +
                    '<p>Date of Birth: <input type="date" id="inputDateOfBirth"></p>' +
                    '<p>Gender: <select id="inputGender">' +
                    '<option value="MALE">Male</option>' +
                    '<option value="FEMALE">Female</option>' +
                    '<option value="OTHER">Other</option>' +
                    '</select></p>' +
                    '<p>Bio: <textarea id="inputBio"></textarea></p>' +
                    '<button onclick="insertUserProfile()">Thêm Thông Tin</button>' +
                    '</div>';
        
                $('#postContainer').append(insertUserProfileHtml);
            }
        }
        
        function insertUserProfile() {
            var userId = getUserIdFromUrl();
            if (!userId) {
                console.error('User ID not found in the URL.');
                return;
            }
            var newProfile = {
                'firstName': $('#inputFirstName').val(),
                'lastName': $('#inputLastName').val(),
                'dateOfBirth': $('#inputDateOfBirth').val(),
                'gender': $('#inputGender').val(),
                'bio': $('#inputBio').val()
            };
            $.ajax({
                url: 'http://localhost:1999/api/profile/' + userId,
                type: 'POST',
                data: JSON.stringify(newProfile),
                contentType: 'application/json',
                success: function (data) {
                    
                    alert('Profile inserted successfully.');
                },
                error: function () {
                    alert('Failed to insert user profile.');
                }
            });
        }
 
        function updateUserProfile() {
            var userId = $('#inputUserId').val();
            var updatedProfile = {
                'userId': userId,
                'firstName': $('#inputFirstName').val(),
                'lastName': $('#inputLastName').val(),
                'dateOfBirth': $('#inputDateOfBirth').val(),
                'gender': $('#inputGender').val(),
                'bio': $('#inputBio').val()
            };

            $.ajax({
                url: 'http://localhost:1999/api/profile/' + userId,
                type: 'PUT',
                data: JSON.stringify(updatedProfile),
                contentType: 'application/json',
                success: function (data) {
                    alert('Profile updated successfully.');
                },
                error: function () {
                    alert('Failed to update user profile.');
                }
            });
        }
    </script>
</body>

</html>
