<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Trang Chủ | ALOHCMUTE</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{../css/singlepage.css}" rel="stylesheet">
    <link th:href="@{../css/style.css}" rel="stylesheet">
    <link th:href="@{../css/footer.css}" rel="stylesheet">
</head>

<body>
    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <div th:insert="~{common/admin/template_admin.html::header}"></div>
    </div>
    <div th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <div th:insert="~{common/user/template_user.html::header}"></div>
    </div>
    <div class="container1">
        <div class="content">
            <div class="post">
                <div id="postContainer">
                </div>
                <div id="commentsSection" style="display: none;">
                    <h2>Comments</h2>
                    <div id="commentForm">
                    <div id="commentList"></div>
                        <textarea id="newComment" placeholder="Add a comment"></textarea>
                        <button type="button" id="addCommentBtn">Add Comment</button>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div sec:authorize="isAuthenticated()">
                    <div class="user-info-card" sec:authorize="isAuthenticated()">
                        <img th:src="@{/images/avatar.jpg}" class="img" alt="">
                        <h2>User Information</h2>
                        <p>Logged user: <span sec:authentication="name"> </span></p>
                        <p>Roles: <span id="roles" sec:authentication="principal.authorities"> </span></p>
                        <p>Id: <span id="userId" th:text="${#authentication.principal.userId}"></span></p>
                    </div>  
                </div>  
                <h2>Menu</h2>
                <a href="/">
                    <div class="card">
                        <h3>Trang chủ</h3>
                    </div>
                </a>
                <a href="tinnhan.html">
                    <div class="card">
                        <h3>Tin nhắn</h3>
                    </div>
                </a>
                <a href="trangcanhan.html">
                    <div class="card">
                        <h3>Trang cá nhân</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div th:insert="~{common/user/template_user.html::footer}"></div>

    <script>
        $(document).ready(function () {
            var postIdToDisplay = window.location.pathname.split('/').pop();
            var commentSection = $('#commentsSection');
            var commentList = $('#commentList');
            var commentForm = $('#commentForm');
            var postContainer = $('#postContainer');
            var commentsVisible = false;

            $.ajax({
                url: 'http://localhost:1999/api/posts/' + postIdToDisplay,
                type: 'GET',
                success: function (data) {
                    displaySinglePost(data);
                },
                error: function () {
                    alert('Failed to fetch post data.');
                }
            });

            function displaySinglePost(post) {
                document.title = post.content + " | ALOHCMUTE";
                var userId = parseInt($('#userId').text());
                var userRole = $('#roles').text();
                var isUserPost = post.user.userId === userId;
                var isAdmin = userRole.includes('ROLE_ADMIN');
                var postContainer = $('#postContainer');
                var postCard = '<div class="card1">' +
                    '<h3>' + post.user.username + '</h3>' +
                    '<p>Email: ' + post.user.email + '</p>' +
                    '<p>Post ID: ' + post.postId + '</p>' +
                    '<p>Content: ' + post.content + '</p>' +
                    '<p>Created At: ' + post.createdAt + '</p>' +
                    '<img src="' + post.images[0].filePath + '" alt="Post Image" class="img-file" style="width: 800px; height: 500px;">' +
                    '<button type="button" class="like-button" data-post-id="' + post.postId + '">Like (' + post.likes.length + ')</button>' +
                    '<button type="button" class="comment-button" data-post-id="' + post.postId + '">View Comments</button>' +
                    '<button type="button" class="three-dots-button">...</button>';
                        
                if ((userRole.includes('ROLE_USER') && isUserPost) || isAdmin) {
                    var editButton = '<button type="button" class="edit-button" data-post-id="' + post.postId + '">Chỉnh Sửa Bài Viết</button>';
                    var deleteButton = '<button type="button" class="delete-button" data-post-id="' + post.postId + '">Xóa Bài Viết</button>';
    
                    postCard += '<div class="edit-delete-buttons">' + editButton + deleteButton + '</div>';
                }
    
                postCard += '</div>';
                postContainer.append(postCard);
    
                $('.like-button').click(function () {
                    var postId = $(this).data('post-id');
                    likePost(postId);
                });
    
                $('.edit-button').click(function () {
                    var postId = $(this).data('post-id');
                    editPost(postId);
                });
    
                $('.delete-button').click(function () {
                    var postId = $(this).data('post-id');
                    deletePost(postId);
                });
                
                $('.comment-button').click(function () {
                    var postId = $(this).data('post-id');
                    toggleComments(postId);
                });
    
                $('.three-dots-button').click(function () {
                    $(this).closest('.card1').toggleClass('show-buttons');
                });
    
                displayComments(post.comments);
            }
    
            function deletePost(postId) {
                var confirmDelete = confirm('Bạn chắc chắn muốn xóa bài viết này ?');
                if (confirmDelete) {
                    $.ajax({
                        url: 'http://localhost:1999/api/posts/' + postId,
                        type: 'DELETE',
                        success: function () {
                            $('#postContainer').empty();
                            alert('Xóa Thành Công !');
                        },
                        error: function () {
                            alert('Failed to delete the post.');
                        }
                    });
                } else {
                    console.log('Deletion canceled.');
                }
            }
            
            

            function displayComments(comments) {
                commentList.empty();

                comments.forEach(function (comment) {
                    var commentItem = '<div class="comment-item">' +
                        '<p>Comment ID: ' + comment.commentId + '</p>' +
                        '<p>Username: ' + comment.user.username + '</p>' +
                        '<p>Email: ' + comment.user.email + '</p>' +
                        '<p>Content: ' + comment.content + '</p>' +
                        '<p>Created At: ' + comment.createdAt + '</p>' +
                        '</div>';

                    commentList.append(commentItem);
                });
            }

            function likePost(postId) {
                console.log('Liked post with ID: ' + postId);
            }
            function editPost(postId) {
                var editUrl = '/post/edit/' + postId;
                window.location.href = editUrl;
            }
            
            function toggleComments(postId) {
                if (commentsVisible) {
                    commentSection.hide();
                } else {
                    commentSection.show();
                }
                commentsVisible = !commentsVisible;
            }
        });
    </script>
</body>

</html>
