<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Trang Chủ | ALOHCMUTE</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{../css/home.css}" rel="stylesheet">
    <link th:href="@{../css/style.css}" rel="stylesheet">
    <link th:href="@{../css/footer.css}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="wrapper">
                <div class="right">
                    <a href="/"><img th:src="@{/images/logo.png}" width="155" height="70" class="img" alt=""></a>
                </div>
                <div class="left">
                </div>
                <div class="rightHeader">
                    <a href="/" class="link">Trang Chủ</a>
                    <a href="/contact" class="link">Liên Hệ</a>
                    <ThemeToggle></ThemeToggle>
                    <AuthLink></AuthLink>
                </div>
            </div>
        </div>
    </header>
    <div class="container1">
        <div class="content">

            <div class="post" id="postContainer">

                

            </div>
            <div class="menu">
                <h2>Menu</h2>
                <a href="/">
                    <div class="card">
                        <h3>Trang chủ</h3>
                    </div>
                </a>
                <a href="tinnhan.html">
                    <div class="card">
                        <h3>Tin nhắn</h3>
                    </div>
                </a>
                <a href="trangcanhan.html">
                    <div class="card">
                        <h3>Trang cá nhân</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <div class="containerfooter">
            <div class="footer">
                <div class="wrappeer">
                    <div class="col">
                        <h2>Về Alohcmute</h2>
                        <p>Chào mừng bạn đến với Alohcmute - nền tảng chia sẻ và kết nối cộng đồng. Tại đây, chúng ta cùng nhau trải nghiệm, chia sẻ và tạo ra những khoảnh khắc đáng nhớ. Dù ở bất kỳ đâu, chúng ta luôn gần kề nhau thông qua Alohcmute.</p>
                    </div>
                    <div class="col">
                        <h2>Liên Hệ</h2>
                        <span>Email: your_email@example.com</span>
                        <span>Điện thoại: +123-456-7890</span>
                    </div>
                </div>
                <p>© 2023 Alohcmute. All Rights Reserved.</p>
            </div>
        </div> 
    </footer>

    <script>
		$(document).ready(function () {
            var postIdToDisplay = window.location.pathname.split('/').pop();

            $.ajax({
                url: 'http://localhost:1999/api/posts/' + postIdToDisplay,
                type: 'GET',
                success: function (data) {
                    displaySinglePost(data);
                },
                
                error: function () {
                    alert('Failed to fetch post data.');
                }
            });
            function displaySinglePost(post) {
                var postContainer = $('#postContainer');
                var postCard = '<div class="card1">' +
                    '<h3>' + post.user.username + '</h3>' +
                    '<p>Email: ' + post.user.email + '</p>' +
                    '<p>Post ID: ' + post.postId + '</p>' +
                    '<p>Content: ' + post.content + '</p>' +
                    '<p>Created At: ' + post.createdAt + '</p>' +
                    '<img src="' + post.images[0].filePath + '" alt="Post Image" class="img-file" style="width: 800px; height: 500px;">' +
                    '<button type="button" class="like-button" data-post-id="' + post.postId + '">Like</button>' +
                    '<button type="button" class="comment-button" data-post-id="' + post.postId + '">View Comments</button>' +
                    '</div>';

                postContainer.append(postCard);
                $('.like-button').click(function () {
                    var postId = $(this).data('post-id');
                    likePost(postId);
                });

                $('.comment-button').click(function () {
                    var postId = $(this).data('post-id');
                    showComments(postId);
                });
            }
            function likePost(postId) {
                console.log('Liked post with ID: ' + postId);
            }
            function showComments(postId) {
                alert('Show comments for post with ID: ' + postId);
            }
        });
        
        
    </script>
</body>

</html>
