<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Trang Chủ | ALOHCMUTE</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{../../css/user/profilepage.css}" rel="stylesheet">
    <link th:href="@{../../css/style.css}" rel="stylesheet">
    <link th:href="@{../../css/footer.css}" rel="stylesheet">
</head>

<body>
    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <div th:insert="~{common/admin/template_admin.html::header}"></div>
    </div>
    <div th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <div th:insert="~{common/user/template_user.html::header}"></div>
    </div>
    <div class="container1">
        <div class="content">
            <div class="post">
                <div sec:authorize="isAuthenticated()">
                    <div class="user-info-card" sec:authorize="isAuthenticated()">
                        <img th:src="@{/images/avatar.jpg}" class="img" alt="">
                        <h2>User Information</h2>
                        <p>Logged user: <span id="usernamee" sec:authentication="name"> </span></p>
                        <p>Roles: <span sec:authentication="principal.authorities"> </span></p>
                        <p>Id: <span id="userId" th:text="${#authentication.principal.userId}"></span></p>
                    </div>
                    <button class="buttonMore" id="toggleProfileBtn" onclick="toggleUserProfile()">Thông tin tài khoản</button>
                </div>
                <div id="postContainer"></div>
                <button class="buttonMore" id="togglePostBtn" onclick="toggleUserPosts()">Bài đăng của tôi</button>
                <div id="postUserContainer"></div>

            </div>

            <div class="menu">
                <h2>Menu</h2>
                <a href="/">
                    <div class="card">
                        <h3>Trang chủ</h3>
                    </div>
                </a>
                <a href="tinnhan.html">
                    <div class="card">
                        <h3>Tin nhắn</h3>
                    </div>
                </a>
                <a th:href="@{'/user/profile/' + ${#authentication.principal.userId}}">
                    <div class="card">
                        <h3>Trang cá nhân</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div th:insert="~{common/user/template_user.html::footer}"></div>

    <script>
        function toggleUserProfile() {
            var container = $('#postContainer');
            var button = $('#toggleProfileBtn');

            if (container.is(':visible')) {
                container.hide();
                button.text('Thông tin tài khoản');
            } else {
                loadUserProfile();
                container.show();
                button.text('Đóng thông tin tài khoản');
            }
        }

        function loadUserProfile() {
            var userId = $('#userId').text();

            $.ajax({
                url: 'http://localhost:1999/api/profile/' + userId,
                type: 'GET',
                success: function (data) {
                    displayUserProfile(data);
                },
                error: function () {
                    alert('Failed to fetch user profile.');
                }
            });
        }

        function displayUserProfile(profile) {
            $('#postContainer').empty();

            if (profile != null) {
                var userProfileHtml = '<div class="user-profile">' +
                    '<h2>User Profile</h2>' +
                    '<p>User ID: <input type="text" id="inputUserId" value="' + profile.userId + '" readonly></p>' +
                    '<p>First Name: <input type="text" id="inputFirstName" value="' + profile.firstName + '"></p>' +
                    '<p>Last Name: <input type="text" id="inputLastName" value="' + profile.lastName + '"></p>' +
                    '<p>Date of Birth: <input type="text" id="inputDateOfBirth" value="' + profile.dateOfBirth + '"></p>' +
                    '<p>Gender: <input type="text" id="inputGender" value="' + profile.gender + '"></p>' +
                    '<p>Bio: <textarea id="inputBio">' + profile.bio + '</textarea></p>' +
                    '<button onclick="updateUserProfile()">Cập Nhật</button>' +
                    '</div>';
                
                $('#postContainer').append(userProfileHtml);
                
            } else {
                var profileNotFoundHtml = '<p>User profile not found.</p>';
                $('#postContainer').append(profileNotFoundHtml);
            }
        }
        function toggleUserPosts() {
            var container = $('#postUserContainer');
            var button = $('#togglePostBtn');
        
            if (container.is(':visible')) {
                container.hide();
                button.text('Bài đăng của tôi');
            } else {
                loadUserPostProfile();
                container.show();
                button.text('Đóng bài đăng');
            }
        }
        
        function loadUserPostProfile() {
            var username = $('#usernamee').text();
            $.ajax({
                url: 'http://localhost:1999/api/posts/byUsername?username=' + username,
                type: 'GET',
                success: function (data) {
                    displayUserPosts(data);
                },
                error: function () {
                    alert('Failed to fetch user posts.');
                }
            });
        }
        
        function displayUserPosts(posts) {
            $('#postUserContainer').empty();
            
            if (posts.length > 0) {
                var postListHtml = '<div class="userpostprofile">';
                posts.forEach(function (post) {
                    var postCard = '<div class="card1">' +
                        '<a href="http://localhost:1999/post/' + post.postId + '">' +
                        '<h3>' + post.user.username + '</h3>' +
                        '<p>Email: ' + post.user.email + '</p>' +
                        '<p>Post ID: ' + post.postId + '</p>' +
                        '<p>Content: ' + post.content + '</p>' +
                        '<p>Created At: ' + post.createdAt + '</p>' +
                        '<img src="' + post.images[0].filePath + '" alt="Post Image" class="img-file" style="width: 800px; height: 500px;">' +
                        '</a>' +
                        '<button type="button" class="like-button" data-post-id="' + post.postId + '">Like (' + post.likes.length + ')</button>' +
                        '<button type="button" class="comment-button" data-post-id="' + post.postId + '">View Comments</button>' +
                        '</div>';
            
                    postListHtml += postCard;
                });
                postListHtml += '</div>';
            
                $('#postUserContainer').append(postListHtml);
            } else {
                var noPostsHtml = '<p>No posts found for this user.</p>';
                $('#postUserContainer').append(noPostsHtml);
            }
            
        }
 
        function updateUserProfile() {
            var userId = $('#inputUserId').val();
            var updatedProfile = {
                'userId': userId,
                'firstName': $('#inputFirstName').val(),
                'lastName': $('#inputLastName').val(),
                'dateOfBirth': $('#inputDateOfBirth').val(),
                'gender': $('#inputGender').val(),
                'bio': $('#inputBio').val()
            };

            $.ajax({
                url: 'http://localhost:1999/api/profile/' + userId,
                type: 'PUT',
                data: JSON.stringify(updatedProfile),
                contentType: 'application/json',
                success: function (data) {
                    alert('Profile updated successfully.');
                },
                error: function () {
                    alert('Failed to update user profile.');
                }
            });
        }
    </script>
</body>

</html>
