.containerfooter {
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(33, 35, 38, 0.2) 0px -10px 10px -10px;
  }
  
  .footer {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }
  
  .wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .col > h2 {
    margin-bottom: 15px;
    justify-self: flex-start;
    margin-left: -5px;

  }
  
  .col > p {
    max-width: 435px;
    font-size: 15px;
  }
  
  .copyright {
    text-align: center;
    padding: 5px;
    font-size: 14px;

    height: 30px;
  }

  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 90%;
    }
  
    .col > h2 {
      font-size: 20px;
    }
  
    .col > p {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 640px) {
    .wrapper {
      width: 90%;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      justify-content: center;
      padding: 15px;
    }
  
    .col {
      max-width: 100%;
      margin-top: 10px;
    }
  
    .col > h2 {
      font-size: 18px;
      margin-bottom: 10px;
      margin-left: 0;
    }
  
    .col > p {
      max-width: 100%;
      font-size: 13px;
    }
  
    .copyright {
      padding: 1px;
      font-size: 12px;
    }
  }
  