/* styles.css */

.container {
    height: 80px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.wrapper {
    width: 1336px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.left {
    font-size: 36px;
}

.right, .rightHeader {
    font-size: 20px;
    display: flex;
    font-weight: 400;
    align-items: center;
    gap: 1.5rem;
}

.right .link, .rightHeader .link {
    text-decoration: none;
}

.right .link:hover, .rightHeader .link:hover {
    font-size: 23px;
    font-weight: 600;
    color: red;
    transition: ease-in-out 0.15s;
}

@media screen and (max-width: 1536px) {
    .wrapper {
        max-width: 1366px;
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 768px;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .left {
        font-size: 28px;
    }

    .right, .rightHeader {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 640px;
    }

    .right {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        max-width: 640px;
    }

    .left {
        font-size: 24px;
    }

    .right, .rightHeader {
        font-size: 14px;
    }
}
