<!-- Navigation -->
<header>
    <div class="container">
        <div class="wrapper">
            <div class="right">
                <a href="/"><img th:src="@{/images/logo.png}" width="155" height="70" class="img" alt=""></a>
            </div>
            <div class="left">
            </div>
            <div class="rightHeader">
                <div sec:authorize="isAuthenticated()">
                    <a href="/logout" class="link">Đăng Xuất</a>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a href="/login" class="link">Đăng Nhập</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</header>


<body>
  <nav class="user-left" th:fragment="user-left">
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
      
    </div>
  </nav>
</body>


<!-- Footer -->
<footer>
    <div class="container-footer">
        <div class="footer-wrapper">
            <div class="footer-col">
                <h2>Về Alohcmute</h2>
                <p>Chào mừng bạn đến với Alohcmute - nền tảng chia sẻ và kết nối cộng đồng. Tại đây, chúng ta cùng nhau trải nghiệm, chia sẻ và tạo ra những khoảnh khắc đáng nhớ. Dù ở bất kỳ đâu, chúng ta luôn gần kề nhau thông qua Alohcmute.</p>
            </div>
            <div class="footer-col">
                <h2>Liên Hệ</h2>
                <p>Nguyễn Minh: 21110242@student.hcmute.edu.vn</p>
                <p>Mai Tấn Tài: 21110851@student.hcmute.edu.vn</p>
                <p>Nguyễn Quốc Long: 21110232@student.hcmute.edu.vn</p>
                <p>Điện thoại: +123-456-7890</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2023 Alohcmute. All Rights Reserved.</p>
        </div>
    </div>
</footer>
