<!-- Navigation -->
<header>
    <div class="container">
        <div class="wrapper">
            <div class="right">
                <a href="/"><img th:src="@{/images/logo.png}" width="155" height="70" class="img" alt=""></a>
            </div>
            <div class="left">
            </div>
            <div class="rightHeader">
                <a href="/" class="link">Trang Chủ</a>
                <a href="/contact" class="link">Liên Hệ</a>
                <ThemeToggle></ThemeToggle>
                <AuthLink></AuthLink>
            </div>
        </div>
    </div>
</header>

<!-- Footer -->
<footer>
    <div class="containerfooter">
        <div class="footer">
            <div class="wrapper">
                <div class="col">
                    <h2>Về Tin Công Nghệ</h2>
                    <p>Chào mừng bạn đến với nền tảng tin công nghệ của chúng tôi! Chúng tôi luôn cố gắng mang đến cho bạn những cập nhật mới nhất và các bài viết sâu sắc về thế giới công nghệ đang liên tục thay đổi. Khám phá những câu chuyện hấp dẫn, phân tích chi tiết và cập nhật về các tiến bộ công nghệ đang hình thành tương lai của chúng ta.</p>
                </div>
                <div class="col">
                    <h2>Liên Hệ</h2>
                    <span>Email: 21110242@student.hcmute.edu.vn</span>
                    <span>Điện thoại: +123-456-7890</span>
                </div>
            </div>
            <p>Copyright &copy; Spring eCommerce 2021</p>
        </div>
    </div>
</footer>

