<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>User Management</title>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<!-- Custom styles for this template -->
		 <link th:href="@{css/home.css}" rel="stylesheet">
		 <link th:href="@{css/style.css}" rel="stylesheet">
		 <link th:href="@{css/footer.css}" rel="stylesheet">
	</head>
<body>
	<div th:include="common/user/template_user.html::header"></div>
	<div class="container1">
		
       
        <div class="content">
            <div class="post" id="postContainer">
				<div class="post-form" id="postForm">
					<h2>Post</h2>
					<textarea id="postContent" rows="4" placeholder="Enter your post content"></textarea>
					<button type="button" onclick="submitPost()">Post</button>
				</div>
            </div>
            <div class="menu">
				<h2>Menu</h2>
				<a href="trangchu.html">
					<div class="card">
						<h3>Trang chủ</h3>
					</div>
				</a>
				<a href="tinnhan.html">
					<div class="card">
						<h3>Tin nhắn</h3>
					</div>
				</a>
				<a href="trangcanhan.html">
					<div class="card">
						<h3>Trang cá nhân</h3>
					</div>
				</a>
			</div>
        </div>
    </div>
	<div th:include="common/user/template_user.html::footer"></div>

	<script>
		function submitPost() {
			var postContent = $('#postContent').val();

			$.ajax({
				url: 'http://localhost:1999/api/posts',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify({ content: postContent }),
				success: function (data) {
					populatePostData([data]);
					// Clear the post content after submitting
					$('#postContent').val('');
				},
				error: function () {
					alert('Failed to submit post.');
				}
			});
		}

        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:1999/api/posts',
                type: 'GET',
                success: function (data) {
                    populatePostData(data);
                },
                error: function () {
                    alert('Failed to fetch post data.');
                }
            });

            function populatePostData(posts) {
                var postContainer = $('#postContainer');

                // Use a for-of loop for iteration
                for (var post of posts) {
                    var postCard = '<div class="card1">' +
                        '<h3>' + post.user.username + '</h3>' +
                        '<p>' + post.content + '</p>' +
                        '</div>';
                    postContainer.append(postCard);
                }
            }
        });
    </script>
</body>
</html>
