<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Custom styles for this template -->
    <link th:href="@{../css/register.css}" rel="stylesheet">
    <link th:href="@{../css/style.css}" rel="stylesheet">
    <link th:href="@{../css/footer.css}" rel="stylesheet">
</head>
<body>
    <div th:insert="~{common/user/template_user.html::header}"></div>
    <div class="registration">
        <h1>Đăng Ký</h1>
        <div class="registration-container">
            <form id="registrationForm" action="#" method="post">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <br>
                <label for="username">Tên Tài Khoản:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Mật Khẩu:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <label for="confirmPassword">Nhập Lại Mật Khẩu:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <br>
                <button type="button" onclick="registerUser()">Đăng Ký</button>
                <p id="errorMessage" class="error-message"></p>
            </form>
        </div>
    </div>
    <div th:insert="~{common/user/template_user.html::footer}"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function registerUser() {
            var username = $("#username").val();
            var email = $("#email").val();
            var password = $("#password").val();
            var confirmPassword = $("#confirmPassword").val();
            if (password !== confirmPassword) {
                $("#errorMessage").text("Passwords do not match");
                return;
            }

            var now = new Date();
            var createdAt = now.toISOString();

            var userInfo = {
                "username": username,
                "email": email,
                "password": password,
                "createdAt": createdAt

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "http://localhost:1999/api/addNewUser",
                data: JSON.stringify(userInfo),
                success: function (response) {
                    alert("User registered successfully");
                },
                error: function (error) {
                    $("#errorMessage").text("Error registering user: " + error.responseJSON.message);
                }
            });
        }
        /*]]>*/
    </script>

</body>
</html>
