<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đặt Lại Mật Khẩu</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Custom styles for this template -->
    <link th:href="@{../css/login.css}" rel="stylesheet">
    <link th:href="@{../css/style.css}" rel="stylesheet">
    <link th:href="@{../css/footer.css}" rel="stylesheet">
</head>
<body>
    <div th:insert="~{common/user/template_user.html::header}"></div>
    <div class="formwrapper">
        <h1>Đặt Lại Mật Khẩu</h1>
        <div class="formcontainer">
            <form id="resetPasswordForm">
                <div><label>Mật Khẩu Mới: <input type="password" name="newPassword" required /></label></div>
                <div><label>Xác Nhận Mật Khẩu: <input type="password" name="confirmPassword" required /></label></div>
                <div class="buttonstyle"><button type="button" onclick="resetPassword()">Đặt Lại Mật Khẩu</button></div>
            </form>
        </div>
    </div>
    <div th:insert="~{common/user/template_user.html::footer}"></div>

    <script th:inline="javascript">
        function resetPassword() {
            var newPassword = $('input[name="newPassword"]').val();
            var confirmPassword = $('input[name="confirmPassword"]').val();
            
            if (newPassword !== confirmPassword) {
                alert('Mật khẩu xác nhận không khớp.');
                return;
            }

            var token = getParameterByName('token');
            $.ajax({
                url: 'http://localhost:1999/api/reset-password?token=' + token,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    newPassword: newPassword
                }),
                success: function(response) {
                    alert(response);
                    window.location.href = '/login';
                },
                error: function(xhr, status, error) {
                    alert('Failed to reset password.');
                }
            });
            return false;
        }

        function getParameterByName(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
</body>
</html>
