<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FriendShip</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/left.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/friendship.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div th:insert="~{common/user/template_user.html::header}"></div>
    <div th:insert="~{common/user/template_user.html::user-left}">
        
    </div>
    <section>
        <p id="userId" th:text="${userId}"></p>
        <div th:if="${topic == 'friend'}" data-topic="friend">
            <h2 id="list-title">Tất cả bạn bè</h2>
            <div class="container1"></div>
        </div>
        
        <div th:if="${topic == 'requested'}" data-topic="requested">
            <h2 id="list-title">Yêu cầu kết bạn</h2>
            <div class="container1"></div>
        </div>

        <div th:if="${topic == 'add_friend'}" data-topic="add_friend">
            <h2 id="list-title">Thêm bạn</h2>
            <div class="container1"></div>
        </div>
    </section>
    <script th:inline="javascript">
        function executeFunctionBasedOnTopic() {
            var divElement = $('[data-topic]');
            if (divElement.length > 0) {
                var topicValue = divElement.attr('data-topic');
                if (topicValue === 'friend') {
                    loadFriend();
                } else if (topicValue === 'requested') {
                    loadRequested();
                } else {
                    loadAddFriend();
                }
            }
        }
    
        function loadFriend() {
            var userId = $("#userId").text();
            console.log(userId);
            $.ajax({
                url: 'http://localhost:1999/api/profile/'+userId+'/?status=ACCEPTED',
                type: 'GET',
                success: function (data) {
                    populateUserData(data)
                },
                error: function () {
                    alert('Failed to fetch user data.');
                }
            });

            function populateUserData(data) {
                for (var friend of data) {
                    var card = '<div class="card" style="width: 18rem;">'
                        + '<img src="..." class="card-img-top" alt="...">'
                        + '<div class="card-body">'
                        + '<p class="card-text">'+friend.firstName+" "+friend.lastName+'</p></div></div>';
                    $(".container1").append(card );
                }
            }
        }
    
        function loadRequested() {
            var userId = $("#userId").text();
            console.log(userId);
            $.ajax({
                url: 'http://localhost:1999/api/profile/'+userId+'/?status=REQUESTED',
                type: 'GET',
                success: function (data) {
                    populateUserData(data)
                },
                error: function () {
                    alert('Failed to fetch user data.');
                }
            });

            function populateUserData(data) {
                for (var friend of data) {
                    console.log(friend);
                    var card = '<div class="card" style="width: 18rem;">'
                        + '<img src="..." class="card-img-top" alt="...">'
                        + '<div class="card-body">'
                        + '<p class="card-text">'+friend.firstName+" "+friend.lastName+'</p>'
                        + '<a href="#" class="btn btn-primary">Chấp nhận</a>'
                        +  '<a href="#" class="btn btn-primary">Xóa</a></div></div>';
                    $(".container1").append(card);
                }
            }
        }

        function loadAddFriend() {
            var userId = $("#userId").text();
            console.log(userId);
            $.ajax({
                url: 'http://localhost:1999/api/profile/'+userId+'/notfriend',
                type: 'GET',
                success: function (data) {
                    populateUserData(data)
                },
                error: function () {
                    alert('Failed to fetch user data.');
                }
            });

            function populateUserData(data) {
                for (var friend of data) {
                    console.log(friend);
                    var card = '<div class="card" style="width: 18rem;">'
                        + '<img src="..." class="card-img-top" alt="...">'
                        + '<div class="card-body">'
                        + '<p class="card-text">'+friend.firstName+" "+friend.lastName+'</p>'
                        + '<a href="#" class="btn btn-primary">Thêm bạn</a>'
                        +  '</div></div>';
                    $(".container1").append(card);
                }
            }
        }
    
        // Gọi hàm khi trang tải xong
        $(document).ready(function() {
            executeFunctionBasedOnTopic();
        });
    </script>
    <script th:src="@{/css/friendship.js}"></script>
    <script th:if="${type_friendship == 'ACCEPTED'}" th:inline="javascript">
        $(document).ready(function() {
            $("#all-friend").css("background-color", "#0d6efd");
        });
    </script>
    <script th:if="${type_friendship == 'REQUESTED'}" th:inline="javascript">
        $(document).ready(function() {
            $("#all-requested").css("background-color", "#0d6efd");
        });
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div th:insert="~{common/user/template_user.html::footer}"></div>
</body>
</html>
