<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Message</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/left.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/message.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div th:insert="~{common/user/template_user.html::header}"></div>
    <div th:insert="~{common/user/template_user.html::user-left}">

    </div>
    <section class="chat-area">
        <header>
            <div class="conversation">
                <div class="Information">
                    <div class="card-inf">
                        <img src="http://localhost:1999/images/hcmute.png" alt="">
                        <h2 class="profile-name">Mai Tấn Tài</h2>
                    </div>
                </div>
            </div>
        </header>
        <body class="message-area">
            <div class="row" id="chat-container" style="width: 80%;">
                <div class="expanding-div">
                    <div class="content">
                    </div>
                  </div>
                <div class="col-11"><textarea id="chat-area" placeholder="Type your message..."></textarea></div>
                <div class="col-1"><button class="btn-send">Send</button></div>
                
              </div>
        </body>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.20.0-202088235442/firebase-app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.20.0-202088235442/firebase-database.min.js"></script>
    <script th:src="@{/css/message.js}"></script>
    <p th:text="${userId}" id="userId"></p>
    <div th:insert="~{common/user/template_user.html::footer}"></div>
</body>
</html>